.course-list {
  display: flex;

  border-bottom: 1px solid rgb(217, 216, 216);
  margin: auto 3rem;
  justify-content: space-between;
  position: relative;
  border-radius: 3px;
}

.course-list:hover {
  background-color: rgb(233, 235, 238);
  box-shadow: 3px 5px 4px 0px #dfe1e3;
}

.course-name,
.view-course {
  font-size: 20px;
}

.course-name {
  padding: 3rem;
  flex: 2;
  height: 100%;
  font-weight: 600;
}

.view-course {
  padding: 3rem;
  flex: 1;
  text-align: center;
}
.view-course i {
  font-size: 25px;
  background-color: #eff2f4;
  padding: 0.5rem 2rem;
}
